[submodule "base-wails"]
	path = base-wails
	url = https://github.com/desktop-cgi/base-wails.git
[submodule "base-electron"]
	path = base-electron
	url = https://github.com/desktop-cgi/base-electron.git
[submodule "binaries"]
	path = binaries
	url = https://github.com/desktop-cgi/binaries.git
[submodule "cgi-js"]
	path = cgi-js
	url = https://github.com/cgi-js/cgi-js.git
[submodule "base-tauri"]
	path = base-tauri
	url = https://github.com/desktop-cgi/base-tauri.git
[submodule "bridge-express"]
	path = bridge-express
	url = https://github.com/desktop-cgi/bridge-express.git
[submodule "bridge-reactnative"]
	path = bridge-reactnative
	url = https://github.com/desktop-cgi/bridge-reactnative.git
[submodule "bridge-nativescript"]
	path = bridge-nativescript
	url = https://github.com/desktop-cgi/bridge-nativescript.git
[submodule "bridge-vite-express"]
	path = bridge-vite-express
	url = https://github.com/desktop-cgi/bridge-vite-express.git
